    :root{
        font-size: 16px;
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #1E1E1E;
        --bg-secondary: #141418;
        --transition-speed: 600ms;
    }

    body{
        width: 100%;
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;

    }

    /* Form */
    
    /* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    } */
    
    .gradient-form {
        width: 100%;
        height: 700px;
        background: rgb(58,131,255);
        background: linear-gradient(90deg, rgba(58,131,255,1) 0%, rgba(5,171,255,1) 100%);
    }
    .div-message {
        height: 300px;
        background-color: #FFFFFF;
        border-radius: 10px;
        margin: 0 auto;
        align-items: center;
        
    }
    
    .div-message, .form-data {
      max-width: 800px;
    }
    .form-data {
        margin: 0 auto;
    }
    .form-data .checkbox {
      font-weight: 400;
    }
    .form-data .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-data .form-control:focus {
        z-index: 2;
    }

    .form-name, .form-number {
        max-width: 350px;
        margin: 0 auto;
    }

    .form-data h1 {
        margin-bottom: 20px;
    }

    .btn-form {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    /* Navbar */
    .nav--item .nav-icon {
        margin: auto 0;
    }

    .link-text1, .link-text2, .nav-icon {
        text-align: center;
    }

    .nav-bar {
        position: fixed;
        background-color: var(--bg-primary);
        /* transition: width 200ms ease; */
        z-index: 10;
    }

    .nav-bar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav--item {
        width: 100% ;
    }
    
    .nav--link{
        display: flex;
        align-items: center;
        height: 3.5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }

    .mobile-number i:hover {
        transition: var(--transition-speed);
        color: #3A83FF;
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    .img-circle{
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .figure-caption{
        padding-top: 10px;
    }

    a:hover{
        text-decoration: none;
    }
    
    .s1, .s2 {
        width: 100%;
    }

    .s1 .swiper-slide {
        background: #3A83FF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        border: white solid 1px;
        background-color: transparent;
    }
    
    .swiper-pagination .swiper-pagination-bullet-active {
        background-color: white;
    }

    .s1 .swiper-button-prev {
        color: #FFFFFF;
    }

    .s1 .swiper-button-next {
        color: #FFFFFF;
    }

    .s2 .swiper-slide {
        background:#FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0278ae;
    }

    .s2 .swiper-button-prev {
        color: #0278ae;
    }

    .s2 .swiper-button-next {
        color: #0278ae;
    }

    .s2 .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        border:  #0278ae solid 1px;
        background-color: transparent;
    }
    
    .s2 .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #0278ae;
    }

    .s3 .swiper-slide {
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ec524b;
    }
    
    .s3 .swiper-button-prev {
        color: #ec524b;
    }

    .s3 .swiper-button-next {
        color:#ec524b;
    }

    .s3 .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        border:  #ec524b solid 1px;
        background-color: transparent;
    }
    
    .s3 .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #ec524b;
    }

    .s4 .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        border:#3A83FF solid 1px;
        background-color: transparent;
    }
    
    .s4 .swiper-pagination .swiper-pagination-bullet-active {
        background-color:#3A83FF;
    }

    .myButton {
        text-decoration:none;
        margin: 5px;
    }

    .btn {
        border-radius: 35px;
    }

    .btn-whatsapp {
        background-color:#44c767;
        color: #FFFFFF;
        font-size: 1.2rem;
    }

    .btn-whatsapp:hover {
        background-color: #38A656;
    }

    .section .row {
        justify-content: center;
    }

    .section {
        margin: 2rem 0 4rem 0;
    }

    /* small screens */
    @media only screen and (max-width: 767px) {

        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }

        /* Form */
        .form-data .form-name {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            margin-bottom: -1px;
        }
    
        .form-data .form-number {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        /* Nav Bar */
        .nav-bar {
            bottom: 0;
            width: 100%;
            height: 3.5rem;
            position: fixed;
        }

        .nav--link {
            height: 3.5rem;
            margin: auto 0;
        }

        .nav--link:hover{
            filter: grayscale(0%) opacity(1);
            background-color: var(--bg-secondary);
            color: var(--text-secondary);
        }
    
        .link-text, .logo{
            display: none;
        }

        .nav-bar-nav {
            flex-direction: row;
        }

        li i {
            font-size: 2rem;
            text-align: center;
        }

        .link-text1, .link-text2 {
            font-size: 0.8rem;
        }

        .nav--item .nav--link {
            display: block;
        }

        /* Swiper */
        .swiper-container {
            width: 100%;
            height: 220px;
            margin: 0 0 50px 0;
        }

        .s1 .swiper-slide {
            font-size: 60px;
        }
        
        .swiper-container .swiper-button-prev {
            display: none;
        }

        .swiper-container .swiper-button-next {
            display: none;
        }

        .paragraph-lg{
            font-size: 3rem;
            font-weight: 600;
            color: #3A83FF;
            padding-top: 1rem;
        }
        
        .mobile-number{
            margin-top: 70px;
        }
    
        .mobile-number-text-lg{
            font-size: 2.1rem;
            font-family: 'Lato', sans-serif;
        }

        .mobile-number-text{
            font-size: 2rem;
            margin-top: 15px;
            margin-bottom: 0;
        }

        .mobile-number-p{
            font-size: 1.2rem;
            color: #3A83FF;
            margin-top: 10px;
        }

        .media-btn {
            margin: 1rem 0 1rem 0;
        }

        .paragraph {
            font-size: 3.5rem;
            font-weight: 600;
            color: #3A83FF;
            padding-top: 30px;
        }

        .s2, .s3 {
            width: 100%;
            height: 550px;
            margin: 3rem auto;
        }

        .price-text-area {
            width: 300px;
            margin: 30px auto 60px auto;
        }

        .price-header {
            text-align: center;
        }

        .price-img {
            width: 300px;
            height: 150px;
            border-radius: 20px;
        }

        .price-text {
            font-size: 1.2rem;
            padding-top: 20px;
        }

        .logo-img {
            margin: 30px auto 30px auto;
        }

        .logo-final-img {
            width: 200px;
            height: 200px;
        }

        .figure-caption {
            font-size: 1rem;
            margin-top: 10px;
        }

        .about-us{
            margin: 50px auto 50px auto;
        }
        
        .about-us-img {
            width: 250px;
            height: 150px;
            border-radius: 10px;
        }

        .about-us-paragraph {
            font-size: 1.3rem;
            margin: 0 auto 0 auto;
            width: 80%;
        }   

        .s4{
            width: 60%;
            height: 370px;
        }

        .about-us-people-img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            object-fit: cover;
            margin: 20px auto 20px auto;
        }

        .s4 .about-us-paragraph {
            width: 220px;
            font-size: 1rem;
        }

        .parallax1 {
            height: 200px;
            width: 100%;
        }

        .parallax-window {
            min-height: 300px;
            background: transparent;
        }

    }

    /* large screens */
    @media only screen and (min-width: 768px) {
        
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
        /* Form */

        .form-name, .form-number {
            display: inline;
        }

        .form-number {
            margin-left: 20px;
        }

        .section1 {
            margin-top: 8rem;
        }

        /* Navbar */
        .nav-bar {
            top: 0;
            height: 3.5rem;
            width: 100vw;
        }

        header {
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin: 0 10% 0 10%;
        }

        .logo {
            cursor: pointer;
        }

        .link-text {
            font-size: 1rem;
        }

        .logo-link {
            display: none;
        }

        .t-item {
            padding-right: 1rem;
        }

        .link-text1 {
            display: none;
        }
        
        .link-text2 {
            margin: auto 0 auto 0.5rem;
        }

        .nav--link:hover{
            filter: grayscale(0%) opacity(1);
            color: var(--text-secondary);
        }

        .nav-bar-nav .nav-item .link-text {
            display: inline;
            transition: all 0.3s ease 0;
        }

        .nav-bar-nav .nav-item .link-text {
            transition: opacity var(--transition-speed);
        }

        .nav--item {
            margin-right: 20px;
        }

        .figure-caption{
            font-size: 1rem;
        }

        .paragraph-lg{
            font-size: 8rem;
            font-weight: 600;
            color: #3A83FF;
        }

        li i {
            font-size: 1.8rem;
        }

        .mobile-number {
            margin: 5rem 0 5rem 0;
        }
        
        .mobile-number-text-lg {
            font-size: 3.5rem;
            font-family: 'Lato', sans-serif;
            font-weight: lighter;
        }

        .mobile-number-text {
            font-size: 3rem;
        }

        .btn-whatsapp {
            font-size: 2.5rem;
        }

        .mobile-number-p {
            color: #3A83FF;
            font-size: 1.5rem;
        }

        .paragraph {
            font-size: 5rem;
            font-weight: 600;
            color: #3A83FF;
            padding-top: 100px;
        }

       /* Swiper1 */
        .s1 {
            height: 300px;
            margin: 3.5rem auto;
        }
    
        .s1 .swiper-slide {
            font-size: 60px;
        }

        /* Parallax */
        .parallax1 {
            height: 500px;
            width: 100%;
        }

        .parallax-window {
            min-height: 600px;
            background: transparent;
        }

        /* Price  */
        .s2, .s3 {
            height: 600px;
            margin: 0 auto;
        }
    
        .s2, .s3 .swiper-slide{
            font-size: 60px;
        }

        .price-img {
            width: 500px;
            height: 300px;
            border-radius: 20px;
        }

        .swiper-slide .row {
            width: 80%;
            align-items: center;
        }

        .price-text {
            font-size: 2rem;
            margin-top: 20px;
        }       

        .price-bottom .row {
            width: 80%;
            align-items: center;
            justify-content: center;
            margin: 5rem auto;
        }

        .about-us-img {
            width: 300px;
            height: 200px;
            border-radius: 10px;
        }

        .about-us-text {
            width: 400px;
        }

        .about-us-paragraph {
            font-size: 1.5rem;
            margin: 20px 0 0 25px;
        }

        .about-us .row {
            width: 80%;
            align-items: center;
            justify-content: center;
            margin: 5rem auto;
        }

        .s4{
            width: 450px;
            height: 400px;
        }

        .about-us-swiper-slide {
            width: 400px;
            margin: 0 auto;
        }

        .about-us-people-img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            object-fit: cover;
            margin: 20px auto 20px auto;
        }

        .logo-img {
            margin: 50px auto 50px auto;
        }

        .logo-final-img {
            width: 300px;
            height: 300px;
        }
        

    }
