    :root{
        font-size: 16px;
        --text-primary: #b6b6b6;
        --text-secondary: #ececec;
        --bg-primary: #1E1E1E;
        --bg-secondary: #141418;
        --transition-speed: 600ms;
    }

    body{
        color: black;
        background-color: white;
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }

    .nav-bar {
        position: fixed;
        background-color: var(--bg-primary);
        /* transition: width 200ms ease; */
        z-index: 10;
    }

    .nav-bar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav--item {
        width: 100% ;
    }
    
    .nav--link{
        display: flex;
        align-items: center;
        height: 3.5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed);
    }

    .nav--link svg {
        min-width: 2rem;
        margin: 1rem 0;
    }


    .fa-primary{
        color: #406FFF;
    }

    /* .fa-secondary{
        color: #0a5bff;
    } */

    .fa-primary, .fa-secondary {
        transition: var(--transition-speed);
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    /* .logo svg{
        transform: rotate(0deg);
        transition: transform var(--transition-speed);
    }

    .nav-bar:hover .logo svg{
        transform: rotate(-180deg);
    } */

    .img-circle{
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .figure-caption{
        padding-top: 10px;
    }

    a:hover{
        text-decoration: none;
    }
    
    .swiper-container .swiper-slide {
        background: #3A83FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: white;
    }

    .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        border: white solid 1px;
        background-color: transparent;
    }
    
    .swiper-pagination .swiper-pagination-bullet-active {
        background-color: white;
    }

    /* small screens */
    @media only screen and (max-width: 767px) {
        
        /* Nav Bar */
        .nav-bar {
            bottom: 0;
            width: 100vw;
            height: 3rem;
        }

        .nav--link:hover{
        filter: grayscale(0%) opacity(1);
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
        }
    
        .link-text{
            display: none;
        }

        .logo {
            display: none;
        }

        .nav-bar-nav {
            flex-direction: row;
        }

        .nav--link {
            justify-content: center;
        }

        /* Swiper */
        .swiper-container {
            width: 100%;
            height: 220px;
            margin: 0 0 30px 0;
        }
        
        .swiper-container .swiper-button-prev {
            display: none;
        }

        .swiper-container .swiper-button-next {
            display: none;
        }

        
        main{
            margin: 2rem;
            padding-top: 3rem;
        }

        .paragraph{
            margin-top: 30px;
            font-size: 1.3rem;
        }
        
        .mobile-number{
            margin-top: 30px;
        }
        
        .fas{
            padding-right: 15px;
        }
    
        .mobile-number-h1{
            font-size: 2.3rem;
            font-family: 'Lato', sans-serif;
        }

        .mobile-number-text{
            font-size: 1.8rem;
            margin-top: 15px;
            margin-bottom: 0;
            font-weight: 600;
        }

        .mobile-number-p{
            font-size: 1.6rem;
            font-family: 'Lato', sans-serif;
        }

        .img-circle{
            width: 150px;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .parallax1 {
            height: 300зx;
            width: 100%;
        }

        .parallax-window {
            min-height: 400px;
            background: transparent;
        }

    }

    /* large screens */
    @media only screen and (min-width: 768px) {
        
        main {
            margin: 50px 200px 0 200px;
        }

        .nav-bar {
            top: 0;
            height: 3.5rem;
            width: 100vw;
        }

        header {
            justify-content: space-between;
            align-items: center;
            display: flex;
            margin: 0 10% 0 10%;
        }

        .logo {
            cursor: pointer;
        }

        .link-text {
            font-size: 1rem;
        }

        .logo-link {
            display: none;
        }

        .t-item {
            padding-right: 1rem;
        }

        .link-text1 {
            display: none;
        }

        .nav--link:hover{
            filter: grayscale(0%) opacity(1);
            color: var(--text-secondary);
        }

        .nav-bar-nav .nav-item .link-text {
            display: inline;
            transition: all 0.3s ease 0;
        }

        .nav-bar-nav .nav-item .link-text {
            transition: opacity var(--transition-speed);
        }

        .nav--item {
            margin-right: 20px;
        }

        .figure-caption{
            font-size: 1rem;
        }

        .img-circle{
            width: 300px;
            height: 300px;
            display: block;
        }

        .paragraph{
            margin-top: 30px;
            font-size: 3.5rem;
        }

        .logo-part {
            align-items: center;
            margin-top: 5%;
        }

        /* Whatsapp */
        .mobile-number {
            margin: 5rem 0 5rem 0;
        }
            
        i:hover {
            transition: var(--transition-speed);
            color: #3A83FF;
        }
        
        .mobile-number-text-lg {
            font-size: 3rem;
            font-family: 'Lato', sans-serif;
            font-weight: lighter;
        }

        .mobile-number-text {
            font-size: 2rem;
        }

        .mobile-number-p {
            color: #3A83FF;
            font-size: 1.5rem;
        }

        /* Swiper1 */
        .swiper-container {
            width: 100%;
            height: 300px;
            margin: 3.5rem auto;
        }
    
        .swiper-container .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
        }

        .swiper-container .swiper-button-prev {
            color: #FFFFFF;
        }

        .swiper-container .swiper-button-next {
            color: #FFFFFF;
        }

        .parallax1 {
            height: 600px;
            width: 100%;
        }

        .parallax-window {
            min-height: 700px;
            background: transparent;
        }


    }
